body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; 
}

.header {
  width: 100%;
  height: 5rem;              
  background: #018BAA;       
  color: white;              
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700; 
}

.main {
  padding-bottom: 4rem; 
  font-weight: 400; 
  font-size: 1.2rem;
}

.footer {
  width: 100%;
  height: 3rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;   
  bottom: 0;         
  left: 0;
  font-weight: 400; 
  font-size: 0.9rem;
}
