body {
  background-color: white;
  padding: 0;
  margin: 0;
}


.header {
  width: 100%;
  height: 5rem;              
  background: #018BAA;       
  color: white;              
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 3rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;   /* Fixes it to the screen */
  bottom: 0;         /* Anchors it to the bottom */
  left: 0;
}
